.cardscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    background-image: url('./img/cardsbackground.png');
    background-repeat:initial;
    background-size:contain;
    border-color: rgba(12, 2, 2, 0.377);
}